<p id="notice"><%= notice %></p>

<h1>welcome to Bookers</h1>
<h3>In Bookers</h3>
<h3>you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!</h3>

<td><%= link_to 'Log in', new_user_session_path %></td>
<td><%= link_to 'Sign Up', new_user_registration_path %></td>

